body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    /* background-image: url('./assets/image_waves.png'); */
    background-image: url('./assets/Untitled-1-01.png');
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* Para dispositivos móveis com largura máxima de 768 pixels */
@media (max-width: 768px) {
    body {
        background: none;
    }
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.container {
    color: white;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #00000070;
}

.dashboard-item {
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.options {
    list-style-type: none;
    gap: 10px;
}

.typeOpt {
    white-space: nowrap;
    font-size: 16px;
    cursor: pointer;
}

.logo {
    width: 16%;
    max-width: 100%;
    height: auto;
}

.logoImg {
    width: 8%;
    max-width: 100%;
    height: auto;
}


.w-full {
    max-width: min-content;
}

.footer {
    background-color: #3abcbc;
    color: #fff;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}


.circle-container {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    overflow: hidden;
}

.circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .circle-container {
        width: 150px;
        height: 150px;
    }

    .circle-container img {
        max-width: 100%;
    }
}

.image-overlay {
    display: flex;
    cursor: pointer;
    position: relative;
}

.image-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    transition: background-color 0.3s ease;
    pointer-events: none;
}

.image-overlay:hover::before {
    background-color: rgba(67, 67, 67, 0.5);
    background-image: url('./assets/logo-easy-car1.png');
    background-image: url('./assets/logo-easy-car1.png');
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position-x: 46%;
    background-position-y: 46%;

}

.textOne {
    TEXT-ALIGN: center;
    margin-top: 80px;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.imgInsight {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.btn {
    width: 224px;
    height: 40px;
    background-color: #3153a4;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-right: 14%;
}

.imgVerti {
    width: 100%;
    border-radius: 10px;
}

.container {
    color: white;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #00000070;
}

.card-grafico {
    background-color: rgba(210, 210, 210, 0.694);
    max-width: 875px;
    height: 686px;
    margin: 20px auto;
    border-radius: 15px;
}

.card-contadores {
    color: rgb(252, 252, 252);
    background: rgba(210, 210, 210, 0.694);
    width: 212px;
    height: 95px;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .card-grafico {
        width: 100%;
        height: 100%;

    }

    .card-contadores {
        width: 100%;
    }
}

.lbContadores {
    font-size: 16px;
    width: 113PX;
    font-weight: bold;
}

.uContadores {
    cursor: pointer;
    font-size: 10px;
    color: gray;

}



.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    padding: 5px;
    background-color: transparent;
    border: none;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.menu-expanded .options {
    display: flex;
    flex-direction: column;
}

.options {
    display: none;
    list-style: none;
}